.forms-main-panel{
padding: 10px 50px;
}
.user-form-group {
  background-color: #222;
  float:left;
  color: white;
}

.input-fields-row{
  margin:5px;
}

.create-button-container{
  float:right;
}

.create-button-container Button:hover{
  height: 35px;
  width: 80px;
} 